
.embedFrame{
  margin: 100px 350px;
  width: 50%
}


.header-alertbox{
  max-width: 20%;
  max-height: 30px;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 6%;
  left: 20%;
  white-space: nowrap;
}

.header-alertbox .alertbox-message{
font-size: 15px;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
}


.search-container{
  width: inherit;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url('./cloudy.jpg');
  background-repeat: no-repeat;
}


.search-container .form-group-search{
 margin: 15%;
 display: flex;
 justify-content: center;
 padding: 5%;
 margin-bottom: 4%;
}

.search-container .content .content-markdown{
  justify-content: center;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 3%;
}

.search-container .spinner{
  display: flex;
  justify-content: center;
  color: white;
}


.search-container .content .errorInPackage{
  width: 400px;
  height: 300px;
  background-image: url('./images/robot.png');
  position: relative;
  left: 35%;
  right: 35%;
  border-radius: 60px;
  top: -59px;
}

.footer{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  position:sticky;
  bottom:0;
  width:100%;
  height:30px;
  background: white;
  margin-top: 200px;
}

.npmIcon{
  width: 230px;
  height: 230px;
  background-image: url('./npm_icon.png');
  border-radius: 100px;
  display: flex;
  align-self: center;
  margin-top: 10%;
  margin-bottom: -15%;
  border-style: double;
}

.add-package-label{
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}


.add-package-label .add-import-label{
  margin-right: 5%;
}

.items-not-added{
  max-width: 20%;
  max-height: 30px;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 6%;
  left: 16%;
  white-space: nowrap;
}

.items-not-added .alertbox-message{
  font-size: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
