
.embedFrame{
  margin: 100px 350px;
  width: 50%
}
.embed-title{
  display: flex;
  align-content: center;
}

.search-container{
  width: inherit;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url('./highway.jpg');
  background-repeat: no-repeat;
}


.search-container .form-group-search{
 margin: 15%;
 display: flex;
 justify-content: center;
 padding: 5%;
 margin-bottom: 4%;
}

.search-container .content .content-markdown{
  justify-content: center;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10%;
}

.search-container .spinner{
display: flex;
justify-content: center;
}

.footer{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  position:sticky;
  bottom:0;
  width:100%;
  height:20px;   /* Height of the footer */
  background:#6cf;
  margin-top: 200px;
}

.npmIcon{
  width: 230px;
  height: 230px;
  background-image: url('./npm_icon.png');
  border-radius: 100px;
  display: flex;
  align-self: center;
  margin-top: 10%;
  margin-bottom: -15%;
}
